/************Containers*******************/

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background-color: #EEEDDE;
    color: #203239;
}

.container {
    max-width: 80%;
    margin: 0 auto;
    justify-content: center;
}

.section_h1 {
    text-align: center;
    font-size: 3rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 0.5rem;
}

.section_p {
    text-align: center;
}

.side_button {
    width: 40px;
    height: 40px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-style: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #203239;
    color: #E0DDAA;
}

.github {
    position: fixed;
    top: 175px;
    left: 0px;
}

.instagram {
    position: fixed;
    top: 250px;
    left: 0px;
}

.side_button:hover {
    color: #203239;
    background-color: #E0DDAA;
    cursor: pointer;
}


/************Navbar styling*********************/

nav {
    position: fixed;
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #203239;
    align-items: center;
    margin: 0 auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 600;
    z-index: 999;
    color: #EEEDDE;
}

.logo {
    max-width: 40px;
    max-height: 40px;
    padding: 0 0 0 1rem;
    border: none;
    ;
}

.nav_links {
    display: flex;
    margin: 0 4rem 0 0;
    padding: 0;
    justify-content: space-between;
    font-size: large;
    min-height: 100%;
}

.nav_links li {
    list-style: none;
    padding: 1.2rem 3rem;
    border-style: solid;
    border-width: 0 1px 0 1px;
    border-color: #EEEDDE;
}

.nav_links li a {
    text-decoration: none;
    display: block;
    text-decoration: none;
    color: #EEEDDE;
}

.nav_links li:hover {
    background-color: #141E27;
}


/******************DARKMODE BUTTON ****************/

.switch {
    position: absolute;
    top: 20px;
    right: 10px;
    border-radius: 20px;
    margin: 0;
    border-style: none;
    display: flex;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    justify-content: space-between;
    padding: 2px 2px 0 2px;
    background-color: #141E27;
}

.switch.active {
    background-color: #203239;
}

.switch::after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    background: #E0DDAA;
    top: -1px;
    left: 0;
    right: unset;
    border-radius: 100%;
    transition: 300ms ease all;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.switch.active:after {
    right: 0;
    left: unset;
}

.switch:hover {
    cursor: pointer;
}

.switch .fa-moon {
    padding: 2px 2px 2px 4px;
}

.switch .fa-sun {
    padding: 2px 4px 2px 2px;
}

.fa-moon {
    color: #E0DDAA;
}

.fa-sun {
    color: #E0DDAA;
}

.dark {
    background-color: #203239;
    color: #EEEDDE !important;
}

.dark_nav {
    background-color: #141E27 !important;
}


/************Hamburger Menu Styling***********/

.hamburger {
    position: absolute;
    top: 1.2rem;
    right: 4rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 21px;
    color: #E0DDAA;
}

.hamburger .bar {
    height: 3px;
    width: 100%;
    background-color: #E0DDAA;
    border-radius: 10px;
}

.hamburger .bar:hover {
    background-color: #141E27 !important;
}


/**************BODY STYLING*******************************************************************/


/***************HOME SECTION*****************/

.home {
    padding-top: 9rem;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.home img {
    max-width: 300px;
    border-radius: 100%;
    margin: auto;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0.25, 0.25));
}

.home_content {
    margin-right: 15%;
    text-align: left;
}

.home_content h1 {
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    font-size: 3rem;
}

.home_content button {
    min-width: 40%;
    padding: 1rem;
    border-radius: 20px;
    margin-top: 1rem;
    background-color: #203239;
    color: #EEEDDE;
    font-size: large;
    font-weight: 800;
    border-style: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.home_content button:active {
    transform: translateY(1px);
    box-shadow: 0px 0px 0px 0px;
}

.home_content button:hover {
    cursor: pointer;
}


/*************************ABOUT SECTION******************************/

#about {
    margin-top: 5rem;
}

.about_content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
    margin-right: 5%;
    margin-left: 5%;
}

.about_cards {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    max-width: 400px;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #ebe9d0;
    align-items: center;
    margin-top: 4rem;
}

.about_cards img {
    max-width: 150px;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.about_cards_text {
    text-align: center;
    margin: 0 2rem 0 2rem;
    color: #141E27;
    font-size: .8rem;
}

.work_card {
    margin: auto;
    justify-content: center;
}


/********************SKILL SECTION*********************/

.skill_line1 {
    display: flex;
    justify-content: space-between;
}

.skill_line2 {
    justify-content: center;
}

.skill_card {
    width: 300px;
    margin: 2rem auto;
}

.skill_card_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    color: #141E27;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #ebe9d0;
    border-radius: 5px;
}

.dropdown_box {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    opacity: 0;
    transform: translateY(-10px);
    transition: 150ms;
    pointer-events: none;
    height: 0px;
}

.dropdown_box.active {
    opacity: 1;
    transform: translateY(10px);
    transition: 150ms;
    pointer-events: auto;
    height: auto;
    margin-top: -9px;
}

.fa-sort-down {
    transition: 150ms;
}

.fa-sort-down.active {
    transform: rotateX(180deg);
    transition: 150ms;
}

.dropdown {
    padding-bottom: .5rem;
}

.skill_dropdown_text {
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
}

.skill_card_icons {
    margin: 1rem;
}

.skill_card_title {
    margin: 0;
}

.skill_dropdown_text h3,
.skill_dropdown_text p {
    margin-bottom: .5rem;
}

.bar90 {
    display: block;
    border-top: #141E27;
    border-top-style: solid;
    max-width: 80%;
    border-color: #141E27;
    margin-left: 1rem;
    margin-right: 1rem;
}

.bar80 {
    display: block;
    border-top: #141E27;
    border-top-style: solid;
    max-width: 70%;
    border-color: #141E27;
    margin-left: 1rem;
    margin-right: 1rem;
}

.bar70 {
    display: block;
    border-top: #141E27;
    border-top-style: solid;
    max-width: 60%;
    border-color: #141E27;
    margin-left: 1rem;
    margin-right: 1rem;
}

.bar50 {
    display: block;
    border-top: #141E27;
    border-top-style: solid;
    max-width: 45%;
    border-color: #141E27;
    margin-left: 1rem;
    margin-right: 1rem;
}


/***************************CONTACT ME SECTION *********************************/

.contact_container {
    display: flex;
    justify-content: space-between;
    margin-top: 2.5rem;
}

.contact_cards_section {
    min-width: 40%;
    margin: 1.4rem 0;
}

.contact_cards {
    max-width: 200px;
    padding: .5rem;
    margin: 1.5rem auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    background-color: #203239;
    color: #EEEDDE;
    align-items: center;
}

.contact_cards p {
    margin: .5rem 0 0 .5rem;
    color: rgb(141, 139, 139);
}

.contact_card_top {
    display: flex;
    align-items: center;
    color: #EEEDDE;
}

.contact_card_top i {
    margin: 0 .5rem 0 .5rem;
}

.contact_card_top h3 {
    margin: 0;
}

.contact-form {
    min-width: 60%;
    margin: 0 2rem;
}

form {
    display: flex;
    flex-direction: column;
}

form h3 {
    margin-top: 0;
    margin-left: .5rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.form_items {
    border-radius: 5px;
    border-style: none;
    margin: .5rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: .5rem;
}

form button {
    max-width: 40%;
    background-color: #203239;
    color: #EEEDDE;
    font-size: large;
    font-weight: 800;
}

form button:hover {
    cursor: pointer;
}

form button:active {
    transform: translateY(1px);
    box-shadow: 0px 0px 0px 0px;
}

textarea {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}


/***************************FOOTER STYLING ******************************/

footer {
    margin-top: 3rem;
    width: 100%;
    background-color: #203239;
    color: #EEEDDE;
    text-align: center;
    padding-top: .5rem;
    box-shadow: 4px 4px 4px 4px rgba(0.25, 0.25, 0.25, 0.25);
}

footer p {
    padding: .5rem;
    margin: 0;
}

.footer_icons {
    display: flex;
    justify-content: center;
}

.footer_icons i {
    padding: 1rem;
}


/***************************RESPOSIVE MADIA QUERY ******************************/

@media (max-width: 1200px) {
    .about_content {
        margin-right: 0;
        margin-left: 0;
    }
}

@media (max-width: 1020px) {
    .about_content {
        display: block;
    }
    .about_cards {
        margin: 4rem auto;
    }
    .home {
        flex-direction: column-reverse;
        padding-top: 6rem;
    }
    .home_content {
        justify-content: left;
        margin-top: 3rem;
        margin-right: 0;
        text-align: center;
    }
}

@media (max-width: 760px) {
    .hamburger {
        display: flex;
    }
    .logo {
        padding-top: .5rem;
        padding-bottom: .5rem;
    }
    nav {
        flex-direction: column;
        align-items: flex-start;
    }
    .nav_links {
        position: absolute;
        flex-direction: column;
        opacity: 0;
        width: 100px;
        top: 40px;
        right: 1.8rem;
        background-color: #203239;
        margin: 0;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        transition: 150ms;
        transform: translateY(-10px);
        pointer-events: none;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .nav_links ul {
        width: 100%;
        flex-direction: column;
    }
    .nav_links li {
        text-align: center;
        border-style: none;
        padding: .5rem 1rem;
    }
    .nav_links li a {
        color: #E0DDAA;
    }
    .nav_links li:hover {
        background-color: #141E27;
        cursor: pointer;
        border-radius: 20px;
    }
    .nav_links.active {
        opacity: 1;
        transition: 150ms;
        transform: translateY(10px);
        pointer-events: auto;
    }
    .skill_line1 {
        display: block;
    }
    .contact_container {
        display: block;
    }
}

@media (max-width: 497px) {
    .about_cards {
        flex-direction: column;
        max-width: 300px;
    }
    .about_cards img {
        max-width: 300px;
    }
    .skill_card {
        max-width: 300px;
    }
}

@media (max-width: 420px) {
    .instagram {
        position: fixed;
        top: 50px;
        left: 10px;
    }
    .github {
        position: fixed;
        top: 50px;
        left: 60px;
    }
    .side_button {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 0;
    }
}